.imgSliderContainer{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.sliderImg{
    width: 100vw;
    height: 100%;
    object-fit:none;
    transition: all 0.5s ease;
}

.nextBtn, .prevBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 30px;
  min-height: 30px;
}

.prevBtn{
  left: 66px;
}

.nextBtn {
  right: 51px;
}