.containerDiv {
    display: flex;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.105);
    position: relative;
}

.containerDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 0;
}

.posterDetailsContent {
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1;
}

.posterdiv {
    margin: 50px 50px 50px 100px;
    height: 450px;
    width: 370px;
    border-radius: 20px;
}

.posterImg {
    object-fit: fill;
    border-radius: 20px;
}

.detailsDiv {
    display: inline-block;
    min-width: 500px;
    width: 100%;
    margin-top: 50px;
    margin-right: 100px;
}

.genreAndTime {
    display: flex;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wishListBtn, .playTrailerBtn, .watchNow {
    min-height: 30px;
    min-width: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 50px 20px 0;
    border: 1px solid black;
}

.castContainer {
    height: 340px;
    max-height: 400px;
    background-color: rgba(0, 255, 255, 0.233);
    margin-bottom: 100px;
    padding: 0 20px;
}

.castHeading {
    margin-top: 20px;
    margin-bottom: 10px;
}

.castScroll {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}

.castScroll::-webkit-scrollbar {
    height: 8px;
}

.castScroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.castCard {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
}

.castCard img {
    width: 100%;
    border-radius: 50px;
}

.actorName {
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
}

.characterName {
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.trailerShow {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 250px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.trailerShow iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}