body{
  min-height: 100vh;
  overflow: hidden;
}

.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.profilePic{
  width: 45px;
  object-fit: cover;
  margin-bottom: 20px;
}

.name{
  font-size: 1.5em;
  margin: 0;
}

.cardText{
  font-size: 1em;
  color: #232121;
}

.display-Msg {
    text-align: center;
    margin: 16px 0;
    font-weight: bold;
    border-radius: 15px;
    background-color: #007bff79;
    color: #333;
    font-size: 1.1em;
}

.inputField{
  padding: 12px 15px;
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-right: 6px;
  border: 1px solid #000000b0;
  border-radius: 10px;
  font-size: 1.1em;
  flex-grow: 1;
}

.sendBtn{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1em;
  margin:15px 6px 15px;

}
.sendBtn:hover{
  background-color: #0056b3;
}

.clearBtn{
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 15px;
  margin-left: 6px;
  margin-bottom: 15px;
  margin-right: 0px;
}

.clearBtn:hover{
  background-color: #a71d2a;
  color: white;
}

.inputContainer{
  display: flex;
  margin-bottom: 50px;
}

.chatBotContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  min-width: 400px;
}

.messagesContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
}

.messageText{
  background-color: #f1f0f0;
  padding: 15px;
  border-radius: 12px;
  margin: 10px;
}

.user-Msg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bot-Msg{
  display: flex;
  text-align: left;
  max-width: 450px;
  align-items: center;}

.userProfile{
  width: 50px;
}

.botProfile{
  height: 45px;
  width: 45px;
}

.loadinGif{
height: 50px;
width: 50px;
margin: -15px;
}